@model IEnumerable<MemeListingServiceModel>

@{
    ViewData["Title"] = "Memes";
}

<div id="memes-container">
    @Html.Partial("_MemesListingForm", Model)
</div>

<input id="next-page" type="hidden" value="2"/>
    
<p id="loading">
    <img src="images/loading.gif" alt="Loading…" />
</p>

<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
        asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
        asp-fallback-test="window.jQuery"
        crossorigin="anonymous"
        integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
</script>

<script>
    $(document).ready(function() {
        var win = $(window);

        // Each time the user scrolls
        win.scroll(function() {
            // End of the document reached?
            if ($(document).height() - win.height() == win.scrollTop()) {
                $('#loading').show();

                $.ajax({
                    url: '/memes/allasync?page=' + $("#next-page").val(),
                    dataType: 'json',
                    success: function (json) {
                        for (var item of json) {
                            console.log(item);
                            $('#memes-container').append(`<div class="row box box-center">
                                                            <a href="/memes/details/${item.id}" class="text-info">
                                                                <h3>${item.title}</h3>
                                                                <img src="${item.imageUrl}" class="img-responsive" alt="No Image" />
                                                            </a>
                                                            <p>Created on: ${item.createdOn}</p>
                                                            <div class="comment-icon">
                                                                ${item.votes}
                                                                <i class="fa fa-thumbs-up"></i>
                                                            </div>
                                                            <div class="comment-icon">
                                                                ${item.comments}
                                                                <i class="fa fa-comment"></i>
                                                            </div>
                                                        </div>`);                            
                        }

                        var nextPage = Number($("#next-page").val());
                        $("#next-page").val(nextPage + 1);
                        $('#loading').hide();
                    }
                });
            }
        });
    });
</script>
