@model MemeMinifiedModel
@{
    ViewData["Title"] = "Delete Confirmation";
}

<div class="row">
    <div class="box box-center">
        <form method="post">
            <h2>@ViewData["Title"]</h2>
            <h4>@Model.Title</h4>
            <img src="@Model.ImageUrl" class="img-responsive" alt="No Image" />
            <button type="submit" class="btn btn-danger">DELETE</button>
        </form>
    </div>
</div>
